header{
  background-color: var(--sec-color);
  

  /*O 'position:sticky;' Mantém a barra nav ao scroolar a página para baixo.*/
  position: sticky;

  padding: 12px 4%;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /*CSS Nesting para simplificar a leitura do código*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

      #logotype{
      width: 90px;
      border-radius: 8px;
      align-self: left;
    }

  ul{
      /*Não é exibido*/
      display: none;
      list-style: none;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      position: absolute;
      top: 90px;
      background-color: var(--neutral-color);
      left: 0;
      padding: 1rem;

      /*Esse '&' se refere a si-prórpio, e logo após estabelece uma condição para estilização o '.show'*/
      &.show{
        display: flex;
      }

      li{
          text-align: center;

            a{
              color: var(--prm-color);
              text-decoration: none;
              font-size: 1rem;
              font-weight: 500;
              transition: all 0.5s ease;

              &:hover{
                color: var(--sec-color);
                border-bottom: 1px solid var(--sec-color);

              }
            }
      }
  }

}

body{
  min-height: 120vh;
  /*Evita sobreposição*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--neutral-color);

}

@media (min-width: 769px) {
  header{
    .navbar{
      .btn-hamburger{
        display: none;
      }

      ul{
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        width: auto;
        padding: 0;
      }

      .btn-default{
        display: block;
      }
    }
  }
}
