.navbar {
    header{
      background-color: var(--sec-color);   
      nav{
        /*O 'position:sticky;' Mantém a barra nav ao scroolar a página para baixo.*/
        position: sticky;
        padding: 12px 4%;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        #logotype{
            width: 90px;
            border-radius: 8px;
        }

        ul{
            /*Não é exibido*/
            justify-content: space-between;
            align-items: center;
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.6rem;
            width: 100%;
            position: absolute;
            top: 120px;
            background-color: var(--neutral-color-1);
            left: 0;
            padding: 2rem;

            /*Esse '&' se refere a si-prórpio, e logo após estabelece uma condição para estilização o '.show'*/
            &.show{
              display: flex;
            }

            li{
                text-align: center;

                  a{
                    color: var(--sec-color);
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 500;
                    transition: all 0.5s ease;
                    border-radius: 9px;

                    &:hover{
                      color: var(--ter-color-1);
                      border-bottom: 2px solid var(--ter-color-1);
                      font-size: 1.54rem;
                    }
                  }
            }
        }
    }
  }
}
