/*Importação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Neuton:wght@300;400;700;800&display=swap');
@import url('../css/navbar.css');
/* Boa prática de 'zerar' o estilo da página*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neuton", "Serif";
}
a.btn{
  text-decoration: none;
}
.btn{
  padding: 2px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  /*BGCOLOR trânsparente para facilitar a mudança e alteração de cor*/
  background-color: transparent;
  /*Transição bunitinha xd*/
  transition: background-color 0.3s ease;
  list-style: none;
}

/*Botão mobile*/
.btn-hamburger{
  font-size: 1.5rem;
}

/*Botão de telefone*/
.btn-default{
  background-color: var(--prm-color);
  color: var(--ter-color-1);
  
  &:hover{
    background-color: var(--sec-color);
  }

  li{
    list-style: none;
  }
}

.btn-generic{
  font-size: 1.6rem;
  transition: background-color 0.4s ease;
  transition: font-size 0.4s ease;
  border: none;
  padding: 2px 12px;
  margin: 10px 2px;
  display: flex;
  background-color: var(--prm-color);
  border-radius: 16px;
  text-align: center;
  text-decoration: none;

  &:hover{
    background-color: var(--sec-color);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

body{
  min-height: 120vh;
  /*Evita sobreposição*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--neutral-color);

  &.p{
    color: var(--ter-color-1);
  }
}

/*Variáveis das cores:*/
:root{
  /*Variáveis em css sempre começam com dois traços*/
  --neutral-color: #f7f7f9;
  --neutral-color-1: #dddddf;
  --neutral-color-2: #bababf;
  --neutral-color-3: #1c1c1d;

  --prm-color: #46CF8D;
  --prm-color-1: #548F5F;

  --sec-color: #CE4760;
  --sec-color-1: #8F545F;

  --ter-color: #4F4245;
  --ter-color-1: #332427;
}


/*Estilização do footer*/
.foot{
  background-color: rgb(207, 233, 180);
  padding: 90px 40px;
}
.foot-copyright{
  color: var(--neutral-color-3);
  background-color: var(--neutral-color-2);
  padding: 90px 40px;
}

/*Por algum motivo isso não funciona:*/
@media (min-width: 769px) {
  .navbar {
    header {
      nav{
      .btn-hamburger{
          display: none;
        }
          ul{
            background-color: var(--prm-color);
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            position: static;
            gap: 1rem;
            width: auto;
            padding: 0;
          }
            a{
              color: var(--prm-color-1);
              text-decoration: none;
              font-size: 1.5rem;
              font-weight: 500;
              padding: 1px 6px;
            }
          .btn-default{
            display: block;
          }
      }
    }
  }
}

/*Estilização da seção home da landing page*/
#home{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  /*Calcula a altura mínima levando em consideração a Navbar*/
  min-height: calc(100vh - 96px);  
  
  /*Ajusta o padding top com o método clamp, aterando o valor do '5vw' dependendo do contexo*/
  /*Isso deixa o código mais enchuto e evita verbosidade no media query*/
  padding-top: clamp(0px, 5vw, 32px);

    .home-img{
      width: clamp(300px, 50%, 400px);
    }

    .home-title{
      color: var(--ter-color);
      text-align: center;
      font-size: clamp(3rem, 5vw, 4.3rem);
      text-transform: uppercase;
      line-height: 1.2;
      max-width: 700px;
    }
    span{
      color: var(--prm-color);
      font-family: "Climate Crisis";
    }
    .home-description{
      color: var(--neutral-color-3);
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
      max-width: 700px;
    }
    .btn-home-shortcut{
      background-color: transparent;
      text-decoration: none;
      color: var(--sec-color);
      border-radius: 26px;
      padding: 3px 30px;
      font-size: 1rem;
      border: 2px solid var(--sec-color);

      &:hover{
          background-color: var(--sec-color);
          color: var(--neutral-color-1);
      }
    }

}
